.body {
  @apply bg-white;
}

header {
  @apply mb-20;
}

.container {
  @apply max-w-full mx-auto;
}

.header {
  @apply flex justify-end absolute w-full top-4 text-xl text-gray-600;
}

.es-button {
  @apply mr-4;
}

.en-button {
  @apply mr-8;
}

.add-quote-btn {
  @apply py-2 px-4 absolute bottom-2 font-semibold rounded-lg shadow-md text-white bg-black z-10 ml-6;
}

.back-arrow {
  @apply absolute top-1 m-5;
}

.success {
  @apply container mx-auto max-w-md transition duration-300 text-center bg-blue-200 w-full h-12 text-gray-700 font-bold leading-10;
}

.footer {
  @apply flex justify-end absolute w-full bottom-0;
}

.github-logo {
  @apply mr-2 mb-2;
}

.linkedin-logo {
  @apply mr-2 -mb-2 w-11;
}

h1 {
  @apply text-center text-cool-gray-900 font-extrabold text-4xl mb-8;
}

.icon {
  fill: currentColor;
}

.quote {
  @apply text-2xl;
}

.author {
  @apply text-lg font-bold;
}

.shadow-quote {
  @apply italic border border-cool-gray-400 rounded-md bg-white px-5 text-base shadow-lg inline-block m-4 max-w-full p-4;

  cite {
    display: block;
    text-align: right;
    &:before {
      content: "- ";
    }
  }
}

/*
 * Loading Spinner
 *
 * Copied from:
 * https://projects.lukehaas.me/css-loaders/
 */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #5a67d8;
  font-size: 10px;
  margin: 20px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
